@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quantico:wght@400;700&display=swap');

/* DEFINIÇÕES */
:root {
  --color-l-bg-and-contrast: #FFFFFF;
  --color-l-bg-inative-edit: #EDEDED;
  --color-l-primary: #110F0F;
  --color-l-secondary: #008CDB;
  --color-l-secondary-hover: #4DBEFF;
  --color-l-alternative: #C8C8C8;

  --font-size-primary: 1.25rem;
  --font-size-secondary: 0.875rem;
  --font-size-alternative: 0.75rem;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
}

/* GERAL */
body {
  color: var(--color-l-primary);
  background-color: var(--color-l-bg-and-contrast);
}

button {
  cursor: pointer;
  font-weight: 700;
  padding: 0.5%;
  width: 12rem;
  height: 2.5rem;
  border: 1px solid var(--color-l-alternative);
  background-color: var(--color-l-secondary);
  color: var(--color-l-bg-and-contrast);
  border-radius: 3.125rem 0rem 3.125rem 0rem;
}

button:hover {
  border: 1px solid var(--color-l-secondary-hover);
  background-color: var(--color-l-secondary-hover);
}

strong {
  color: var(--color-l-secondary);
}

strong:hover {
  color: var(--color-l-secondary-hover);
}

.header, .main, .footer {
  padding: 1.5rem;
}

/* HEADER */
.header {
  display: flex;
  height: 7rem;
}

.header__link {
  margin: 0.725% 5%;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  width: 4rem;
}

.header__link__img {
  width: 100%;
}

.header__link__logoname {
  color: var(--color-l-secondary);
  font-family: 'Press Start 2P', 'Quantico', sans-serif;
  line-height: 2rem;
  font-size: var(--font-size-primary);
}


/* MAIN */
.main {
  min-height: calc(100vh - 10rem);
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0.725% 5%;
}

.main__input,
.main__output {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.main__input {
  align-items: center;
}

.main__output {
  align-items: end;
}

#main__input__text,
#main__output__text {
  font-size: var(--font-size-primary);
  border: 0.125px solid var(--color-l-alternative);
  line-height: 2.2rem;
  resize: none;
  outline: none;
  height: 21.875rem;
  width: 100%;
  padding: 8%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 4.375rem 0.625rem 0.625rem 4.375rem;
}

#main__output__text {
  background-color: var(--color-l-bg-inative-edit);
}

#main__input__text::-webkit-scrollbar,
#main__output__text::-webkit-scrollbar {
  width: 1.25rem;
  background-color: var(--color-l-alternative);
  border-radius: 0rem 0.625rem 0.625rem 0rem;
}

#main__input__text::-webkit-scrollbar-thumb,
#main__output__text::-webkit-scrollbar-thumb {
  background-color: var(--color-l-secondary);
  border-radius: 0rem 0.625rem 0.625rem 0rem;
}

.main__input__warning {
  display: flex;
  align-items: center;
  gap: 0.425rem;
  font-size: var(--font-size-alternative);
}

#main__input__warning__icon {
  user-select: none;
  text-align: center;
  color: white;
  border: 0.125px solid var(--color-l-primary);
  border-radius: 100%;
  background-color: var(--color-l-secondary);
  width: 1.1rem;
}

.main__input__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


/* FOOTER */
.footer {
  font-size: var(--font-size-secondary);
  line-height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
