@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quantico:wght@400;700&display=swap');

:root {
  --color-background: #131516;
  --color-text-border-element: #F6F5AE;
  --color-hover: #D0CE7D;
  --color-bgscoll: #2B2C2D;

  --font-size-primary: 1.3rem;
  --font-size-secondary: 1.1rem;
  --font-size-alternative: 0.75rem;
  --font-size-alternative2: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: 'Quantico', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-border-element);
  user-select: none;
  overflow-y: scroll;
}

button {
  cursor: pointer;
  font-weight: 700;
  padding: 0.5%;
  width: 10rem;
  height: 2rem;
  border: 2px solid var(--color-text-border-element);
  color: var(--color-text-border-element);
  border-radius: 3.125rem 0rem 3.125rem 0rem;
  background-color: var(--color-background);
  transition: 0.2s;
}

button:hover {
  border: 2px solid var(--color-text-border-element);
  background-color: var(--color-hover);
  color: var(--color-background);
}

header, main, footer {
  margin: 0% 3% 0% 3%;
}

header {
  height: 15%;
  display: flex;
  align-items: center;
}

.header__link {
  display: flex;
  align-items: center;
  height: 90%;
}

.header__link__logo {
  height: 80%;
}

main {
  height: calc(100% - 15% - 5%);
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 2% 0%;
}

.textbox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  overflow: hidden;
}

span {
  width: 100%;
  text-align: center;
}

.textbox__input,
.textbox__output {
  font-size: var(--font-size-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid var(--color-text-border-element);
  border-radius: 4.375rem 4.375rem 0.625rem 0.625rem;
  padding: 0.5% 0% 0% 0%;
  height: 75%;
}

textarea {
  background-color: var(--color-background);
  color: var(--color-text-border-element);
  font-size: var(--font-size-secondary);
  line-height: 1.5rem;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  border: 1px solid var(--color-text-border-element);
  padding: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
  user-select: text;
}

textarea::-webkit-scrollbar {
  background-color: var(--color-bgscoll);
  width: 1rem;
  border-radius: 0.625rem;
  padding: 1%;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-text-border-element);
  border-radius: 0.625rem;
}

.textbox__clear {
  align-self: flex-end;
  height: 1.5rem;
  width: 1.5rem;
  font-weight: 700;
  border-radius: 100%;
  position: relative;
  top: 40px;
  right: 30px;
}

.textbox__warning {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 0.425rem;
  font-size: var(--font-size-alternative);
}

.textbox__warning__icon {
  border: 0.125px solid var(--color-text-border-element);
  text-align: center;
  border-radius: 100%;
  width: 1.1rem;
}

.textbox__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textbox__buttons__output {
  justify-content: flex-end;
}

footer {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-alternative);
}

a {
  color: var(--color-text-border-element);
}

.rodape__texto__link:hover {
  color: var(--color-hover);
}


@media (max-width: 830px) {

  button {
    width: 100%;
    height: 2.5rem;
  }

  main {
    height: auto;
  }

  .container {
    flex-direction: column;
    gap: 4rem;
    padding: 5% 0%;
  }

  .textbox{
    width: 100%;
    gap: 1.2rem;
  }

  .textbox__input,
  .textbox__output {
    font-size: var(--font-size-alternative);
  }

  textarea {
    font-size: var(--font-size-alternative);
  }

  .textbox__clear {
    font-size: var(--font-size-alternative2);
    height: 1rem;
    width: 1rem;
    font-weight: 400;
    top: 30px;
    right: 25px;
  }

  .textbox__buttons {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.9rem;
  }
}
